html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Dosis, sans-serif;
  font-size: 16pt;
  background-color: #bce5e9;
  padding: 16px 16px 0 16px;
  margin: 0;
}
.section {
  background-color: #ffffff;
  color: #12a1b2;
  padding: 24px;
  margin-bottom: 12px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 20pt;
  color: #12a1b2;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}
h1 span {
  padding: 10px;
}
p {
  padding: 0;
  margin: 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.section p {
  color: #12a1b2;
  padding: 32px;
  padding-top: 0px;
}
.img-circle {
  border: 3px solid #0ac9a9;
  border-radius: 50%;
}
#header {
  background-image: linear-gradient(
      to left top,
      rgba(255, 192, 224, 0.75),
      rgba(162, 255, 252, 0.95)
    ),
    url(images/background.jpg);
  background-size: cover;
}
#header img {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
#header p {
  font-size: 25pt;
  color: #ffffff;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
.quote {
  font-size: 12pt;
  text-align: right;
  margin-top: 10px;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 2px solid #cecece;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}
.selected {
  background-color: #f36f48;
  font-weight: bold;
  color: white;
}
li {
  margin-bottom: 15px;
  font-weight: bold;
  list-style: none;
}
progress {
  width: calc(100% - 32px);
  height: 20px;
  color: #0ac9a9;
  background: #efefef;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background: #efefef;
}
progress::-webkit-progress-value {
  background: #0ac9a9;
}
progress::-moz-progress-bar {
  color: #0ac9a9;
  background: #efefef;
}
iframe,
audio {
  display: block;
  margin: 0 auto;
  border: 3px solid #0ac9a9;
}
hr {
  border: 0;
  height: 1px;
  background: #f36f48;
}
form {
  text-align: center;
  margin-top: 0;
}
.submit {
  background-color: #0ac9a9;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.submit:hover {
  background-color: #fa0085;
}
textarea {
  height: 100px;
  resize: none;
}
input,
textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #fefefe;
  color: #0c6772;
  border-radius: 5px;
  width: 80%;
  outline: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.face {
  transform: scale(0.4);
  margin: 0 auto;
  display: block;
  margin-top: -35px;
  margin-bottom: -25px;
}
#dummyframe {
  visibility: hidden;
}
#contacts img {
  margin-left: 7px;
  margin-right: 17px;
}
#contacts a {
  text-decoration: none;
}
#contacts img:hover {
  opacity: 1.8;
}
#contacts {
  text-align: center;
  margin-top: 48px;
}
.footer-logo {
  width: 50px;
  height: 50px;
}
.sololearn {
  width: 57px;
  height: 57px;
  margin-bottom: -3px;
}
.github {
  width: 45px;
  height: 45px;
  padding-bottom: 2px;
}
.copyright {
  font-size: 9pt;
  padding-top: 12px;
  margin-bottom: -6px;
  text-align: right;
  color: rgb(223, 18, 154);
}

@media (max-device-width: 767px) {
  .section {
    border-radius: 16px;
    margin-bottom: 16px;
  }
  #header img {
    width: 180px;
    height: 180px;
  }
}
